emacs/url
emacs/ac-comphist.dat
emacs/.mc-lists.el
emacs/eshell
emacs/bookmarks
emacs/auto-save-list
emacs/.cask
emacs/recentf
emacs/projectile-bookmarks.eld
emacs/inits/99-localsettings.el
*.elc
tramp
.org-id-locations
*_archive
*_flymake.*
tmux/tmuxinator/local.yml